# requirements.txt
# Core Backend
fastapi==0.109.0
uvicorn==0.24.0
# sqlalchemy==2.0.5

# AI Integration
google-generativeai==0.3.1
# openai==0.27.4
transformers==4.29.2
torch==2.0.1

# Image Generation
diffusers==0.15.0
pillow==9.5.0

# Database
# psycopg2-binary==2.9.6  # Optional for PostgreSQL

# Development & Testing
pytest==7.3.1
black==23.3.0

# Validation
pydantic==2.6.1
python-dotenv==1.0.0
pydantic-settings==2.1.0

#Other
numpy==1.24.4

# Logging
loguru==0.7.0

# Testing
pytest==7.3.1
httpx==0.26.0

# Security and Extras
email-validator==2.1.0


# python -m venv venv # Create virtual environment
# source venv/bin/activate # Activate virtual environment # On Windows: venv\Scripts\activate 

#pip install -r requirements.txt #pip install --upgrade --force-reinstall -r requirements.txt

#uvicorn src.backend.main:app --reload
